{% extends 'base.html' %}
{% block body %}

<font color="white" class="sections">
    <div class="data">
        {% if data: %}
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                {% for col in data.columns %}
                <th> {{ col }} </th>
                {% endfor %}
            </tr>

            {% for raw in data.raws %}
            <tr>
                {% for val in raw %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    
    </div>


    <div class="section1">
        <h2>
            <center>Handling NULL Values</center>
        </h2>
       
        <fieldset>
            <form method="post" class="container" action="/task4" autocomplete="off" enctype="multipart/form-data">

                <legend>
                    <p>Remove/Delete column</p>
                    <select name="task1">
                        {% for col in data.c1 %}
                        <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    </select>
                    <input name="submit" type="submit" value="Submit1">
                    <br><br>

                    <p>Show the numbers of null values</p>
                    <input name="submit" type="submit" value="Click Here To See">
                    <br><br>

                    <p>Fill null Values</p>
                    <select name="task2">
                        {% for col in data.c1 %}
                        <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    </select>
                    
                    <select name="stat">
                        <option value="mean">Mean</option>
                        <option value="median">Median</option>
                        <option value="mode">Mode</option>
                    </select>
                    <input name="submit" type="submit" value="Submit2">
                    <br><br>
                    
                    <input type="button" value="Go back!" onclick="history.back()">
                    <button><a href="http://127.0.0.1:5000/task2">Task Page</a></button>
                </legend>
                
            </form>
        </fieldset>
    </div>
</font>

{% endblock body %}